﻿@using TickTackToe.Models
@model GamersViewModel
@{
    ViewBag.Title = "GamersList";
}

<h2>Список игроков</h2>

<table class="table">
    <tr>
        <th scope="col"> Имя игрока </th>
        <th scope="col"> Возраст </th>
        <th scope="col"> Логин </th>
    </tr>
    @foreach (var element in Model.Gamers)
    {
        <tr>
            <td>@Html.DisplayFor(m => element.Name)</td>
            <td>@Html.DisplayFor(m => element.Age)</td>
            <td>@Html.DisplayFor(m => element.UserName)</td>
        </tr>
    }
</table>

@if (Model.Gamers.Count() == 0)
{
    <p>Не найдено ни одного игрока</p>
}
