﻿body {
}

.game-status {
    margin-left: 3px;
    margin-top: 27px;
}

.game-field {
    padding: 3px;
}

.game-field-none {
    display: none;
}

.game-table tr {
    height: 50px;
    width: 50px;
}

.game-table td {
    border: 1px solid rgb(190, 190, 190);
}

.game-table-x {
    background-image: url('/Content/imgs/x_64x64.png');
}

.game-table-o {
    background-image: url('/Content/imgs/o_64x64.png');
}

.game-table-x-hover {
    background-image: url('/Content/imgs/x_64x64.png');
}

.game-table-o-hover {
    background-image: url('/Content/imgs/o_64x64.png');
}

table {
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.game-table-bg {
    background-color: white;
}

td {
    height: 10%;
    position: relative;
}

    td:after {
        content: '';
        display: block;
        margin-top: 100%;
    }

    td div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

        td div:hover {
            opacity: 0.7;
            cursor: pointer;
        }

.refuse-invite-action {
    margin-left: 3px;
}

.game-rule,
.game-rule-nowin-agree {
    display: none;
}

