﻿body {
    opacity: 0.8;
}

#onliners,
#invites {
    margin: 3px;
    max-width: 300px;
}

.onliners-gamer,
.invites-on-game {
    padding: 3px;
    margin: 0 4px;
    margin-top: 3px;
    border: 1px solid #D0C89C;
    border-radius: 2px;
    background-color: #F2F2F2;
}

    .onliners-gamer:hover {
        cursor: pointer;
        border: 1px dotted #5E5B47;
    }

.invites-on-game {
    border-color: rgba(251, 153, 82,1);
    background-color: transparent;
}
.invites-on-game-refuse {
    margin-top: 3px;
}
.a-div span {
    font-weight: bold;
}

.a-div .span-bg {
    background-color: #675555;
}

.a-div .span-bg-user-info {
    background-color: #A69E69;
}

.onliners-gamer-icon {
    color: white;
    margin: 0 4px;
    font-size: 34px;
}

.onliners-gamer-invite-action {
    /*margin-left: 5px;*/
}

.g-info-s {
    display: none;
}

.online {
    text-shadow: 1px 1px 2px rgb(54, 100, 59), 0 0 1em #e9d3c3;
}

.online-busy {
    color: #d57e3b;
}

.online-free {
    color: #FDBD8C;
}
