﻿body {
    padding-top: 0px;
    color: #644C4C;
    font-family: "Open Sans";
}

.main-bg {
    background-image: url('/Content/imgs/bg.png');
    background-size: cover;
}



.navbar-inverse {
    background-color: #C3CFFF;
    border-color: #FCCEAC;
}

.navbar-inverse {
    background-color: rgb(100, 76, 76);
    border-color: #A8A8A8;
    box-shadow: 1px 2px 4px #C2ADAD;
}

    .navbar-inverse .navbar-brand {
        color: white;
    }

        .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
            color: #eee;
            background-color: transparent;
        }

    .navbar-inverse .navbar-nav > li > a {
        color: #EAEAEA;
    }

.navbar {
    margin-bottom: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: inherit;
}

.main-localization {
    float: right;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    border: 1px solid white;
    padding: 2px 6px;
}

.main-logo {
    height: 47px;
    float: left;
    margin-right: 12px;
}

.logo {
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0 0 5px black;
}
