﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Core.Resources.Resources.TitleMainGame</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cstmcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
        }
}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/imgs/logo.png" class="main-logo" />
                @Html.ActionLink(Core.Resources.Resources.TitleMainGame, "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Core.Resources.Resources.MainPage, "Index", "Home")</li>
                    <li>@Html.ActionLink(Core.Resources.Resources.AdminPage, "MainPage", "Admin")</li>
                </ul>
                <div class="main-localization">
                    @using (Html.BeginForm("SetCulture", "Base"))
                    {
                        <b>@Core.Resources.Resources.ChooseYourLanguage</b>
                        <span>
                            <input name="culture" id="en" value="en-us" type="radio" @selected("en-us", culture) />  @Core.Resources.Resources.English
                        </span>
                        <span>
                            <input name="culture" id="ru" value="ru" type="radio" @selected("ru", culture) /> @Core.Resources.Resources.Rus
                        </span>
                    }
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/cstm/localistart.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
