﻿@model Core.VM.InitGameVM
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/homecss")

<input type="hidden" id="user-id" value="@Model.UserID" />
<input type="hidden" id="user-name" />
<input type="hidden" id="user-gameid" value="0" />
<input type="hidden" id="user-lastfs" value="@Model.PopularFieldSize" />

<div class="row">
    <div class="col-md-3 a-div">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <h3>@Core.Resources.Resources.AboutUser</h3>
                <div>
                    <a class="enteruseraction"></a>
                </div>
                <ul id="user-info">
                    <li id="name">@Core.Resources.Resources.YourName_R: <span></span> </li>
                    <li id="email">@Core.Resources.Resources.Email: <span></span></li>
                    <li id="age">@Core.Resources.Resources.Age: <span class="label span-bg"></span></li>
                    <li id="regtime">@Core.Resources.Resources.RegTime: <span></span></li>
                    <li id="invitesunstartedcount">@Core.Resources.Resources.InvitesUnStartedCount: <span class="label span-bg"></span></li>
                    <li id="invitesunfinishedcount">@Core.Resources.Resources.InvitesUnFinishedCount: <span class="label span-bg"></span></li>
                    <li id="victories">@Core.Resources.Resources.YourVictory: <span class="label span-bg"></span></li>
                    <li id="losses">@Core.Resources.Resources.YourLosses: <span class="label span-bg"></span></li>
                </ul>
            </div>
            <div class="col-md-12 col-sm-6">
                <div class="user-games">
                    <h3>@Core.Resources.Resources.OnlineGamersList</h3>
                    <ul>
                        <li id="userscount">@Core.Resources.Resources.RegGamesCount: <span></span></li>
                        <li id="onlinerscount">@Core.Resources.Resources.OnlineGamersCount: <span></span></li>
                    </ul>
                    <div id="onliners">
                    </div>
                    <div id="invites">
                        <div id="unfinished"></div>
                        <div id="unstarted"></div>
                        @*<br />
                            <div id="withbot">
                                <a href="#" class="btn btn-default">Играть с компьютером(тестовый)</a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 game-div">
        <div>
            <h5 class="game-status">@Core.Resources.Resources.StatusGameStart</h5>
            <div class="game-field game-field-none">
                <table class="game-table">
                    <tbody></tbody>
                </table>
            </div>
            <div class="game-rule">
                <h5 class="game-opponent">@Core.Resources.Resources.YourOpponent <span></span></h5>
                <a class="btn btn-default game-rule-giveup">@Core.Resources.Resources.IGiveUp</a>
                <a class="btn btn-default game-rule-nowin">@Core.Resources.Resources.OfferNoWin</a>
                <a class="btn btn-default game-rule-nowin-agree">@Core.Resources.Resources.AgreeNoWin</a>
            </div>
        </div>
        <div class="row hide">
            <div>
                <h5 class="game-status">@Core.Resources.Resources.StatusGameStart</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 log-div">
        <br />
        <h5>@Core.Resources.Resources.GameProcess</h5>
        <ul id="discussion"></ul>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/main")
    <script src="/signalr/hubs"></script>
}